#songName {
	text-align: center;
}

table{
    table-layout: fixed;
}

th, td {
    overflow: hidden;
    width: 20%;
}

.leftDiv {
	float:left;
	width:48%;
}

.rightDiv {
	float:right;
	width:48%;
}
